/* relevant styles */

div#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .search-wrapper {
    position: relative;
    label {
      position: absolute;
      font-size: 22px;
      color: rgba(0,0,0,.50);
      top: 8px;
      left: 12px;
      z-index: -1;
      transition: .15s all ease-in-out;
    }
    input {
      padding: 12px 15px;
      color: rgba(0,0,0,.70);
      border: 1px solid rgba(0,0,0,.12);
      transition: .15s all ease-in-out;
      background: white;
      width: 350px;
      &:focus {
        outline: none;
        transform: scale(1.05);
        & + label  {
          font-size: 12px;
          transform: translateY(-24px) translateX(-12px);
        }
      }
      &::-webkit-input-placeholder {
        font-size: 15px;
        color: rgba(0,0,0,.50);
        font-weight: 100;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .card-item {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    max-width: 250px;
    margin: 5px;
    transition: .15s all ease-in-out;
    background: white;
    &:hover {
      transform: scale(1.1);
    }
    a {
      text-decoration: none;
      padding: 12px;
      background: white;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        height: 250px;
        min-width: 250px;
      }
      small {
        font-size: 10px;
        padding: 4px;
      }
    }
  }

  .hotpink {
    background: hotpink;
  }

  .green {
    background: green;
  }

  .box {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,.12);
  }

  .wrap {
    position: relative;
  }

  .description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .wrap:hover .description-layer {
    visibility: visible;
    opacity: 1;
  }

  .description {
    text-align: center;
    font-size: larger;
    transition: .7s;
    transform: translateY(1em);
  }

  .description-position {
    font-size: 14px;
  }
  .description-about {
    font-size: 13px;
  }

  .description-contact {
    font-size: 11px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
  }

  .wrap:hover .description {
    transform: translateY(0);
  }
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-height: 85vh;
}

.online {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.offline {
  height: 10px;
  width: 10px;
  background-color: #ff581f;
  border-radius: 50%;
  display: inline-block;
}

.v-spinner {
  padding-top: 60px;
}

.flag {
  position: absolute;
  left: 8px;
  top: 8px;
}

.info {
  text-align: center;
  margin-top: 5px;
}
